<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insilicogen.healthcareproject.layer.domain.mapper.UserMapper">

    <select id="findById" parameterType="String" resultType="com.insilicogen.healthcareproject.layer.domain.model.User">
        SELECT ID, PASSWORD, ROLE
        FROM USER
        WHERE ID = #{id}
    </select>

    <insert id="saveUserInfo" parameterType="com.insilicogen.healthcareproject.layer.domain.model.User">
        INSERT INTO USER (ID, PASSWORD, ROLE)
        VALUES (#{id}, #{password}, #{role})
    </insert>

    <select id="existsById" parameterType="String" resultType="boolean">
        SELECT COUNT(*)
        FROM USER
        WHERE ID = #{id}
    </select>

    <insert id="saveHealthInfo" parameterType="com.insilicogen.healthcareproject.layer.domain.model.UserHealth">
        INSERT INTO HEALTH (ID, HEIGHT, WEIGHT, BLOOD_PRESSURE, BLOOD_PRESSURE2, HEART_RATE, DATE)
        VALUES (#{id}, #{healthInfo.height}, #{healthInfo.weight},
            #{healthInfo.bloodPressure}, #{healthInfo.bloodPressure2},
            #{healthInfo.heartRate}, #{healthInfo.date})
    </insert>

    <select id="getHealthInfo" parameterType="String" resultType="hashmap">
        SELECT HEIGHT, WEIGHT, BLOOD_PRESSURE, BLOOD_PRESSURE2, HEART_RATE, `DATE`
        FROM HEALTH
        WHERE ID = #{id}
        ORDER BY DATE DESC
    </select>

    <select id="getWeightInfo" parameterType="String" resultType="hashmap">
        SELECT WEIGHT, `DATE`
        FROM HEALTH
        WHERE ID = #{id}
        ORDER BY DATE DESC
    </select>

    <select id="getBloodInfo" parameterType="String" resultType="hashmap">
        SELECT BLOOD_PRESSURE, BLOOD_PRESSURE2, `DATE`
        FROM HEALTH
        WHERE ID = #{id}
        ORDER BY DATE DESC
    </select>

</mapper>
